body#home .primaryContent {
	background:none repeat scroll 0 0 transparent;
	float:left;
	left:0;
	padding:0;
	position:relative;
	top:-190px;
	width:640px;
}
html#hAbout {
	background:url("../images/presentation/main_illustration_06.jpg") repeat-x fixed center top #ECECEC;
}
body#about {
}

body#about div.info {
	float:none !important ;
}

body#about div.info div.info-left{
	float: left;
}

body#about div.info div.info-right{

	float: left;
	position:relative;
	top:208px;
	margin-left: 50px;
}



html#hBuild {
	background:url("../images/presentation/main_illustration_04.jpg") repeat-x fixed center top #ECECEC;
}
body#build {
}


#javaIsland {
	position:absolute;
	right: 0px; 
	top: -55px;
	z-index : -100;
}