<ul id="mainNav">
	<li>
		<%= link_to "home", root_path, :class=>"home" %>
	</li>

	<!-- <li>
		<%#= link_to "donate", about_path, :class=>"about" %>		
	</li> -->

	<li>
		<%= link_to "how", "http://merapiDonation.com/images/How.pdf" , :class=>"about"%>
	</li>

	<li class="blog">
		<%= link_to "gallery", root_path, :class=>"widget" %>
	</li>
	
	<li>
		<%= link_to "blog", "http://merapidonation.blogspot.com/", :class=>"carsonified" %>
	</li>
	
</ul>