<body id="about">
	<div id="mainContainer" class="clearfix">
		<div id="header" class="clearfix">
			<div id="logo-wrapper">
				<a href="http://merapidonation.com">
					<img src="/images/logo.png" alt="Merapi Donation"/>
				</a>
			</div>
			
			<%= render :partial => "navigation" %>
			
	
		</div>
		
		<div id="content" class="clearfix">
			<div class="info clearfix">
				<div class="info-left" id="keychain">
					<a href="#">
						<img src="/images/keychain.png" />
					</a>
				
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="QXHA5WRXM69M2">

						<input type="hidden" name="on0" value="Donation Amount">

						<input type="image" src="http://www.merapidonation.com/images/donate_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
						<img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div> <!-- end of div.info-left -->
				
				<div class="info-right">
					
				
					<object width="550" height="350" ><param name="movie" value="http://www.youtube.com/v/sCzn22SDoDc?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed
						wmode="transparent" src="http://www.youtube.com/v/sCzn22SDoDc?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="550" height="350"></embed></object>
					
					<!-- <iframe class="youtube-player" type="text/html" width="550" height="350" src="http://www.youtube.com/embed/sCzn22SDoDc" frameborder="0" wmode="opaque"></iframe> -->
				</div>
			</div>
			
			<div id="creator" class="clearfix">
				<p class="profile">
					<a href="http://www.facebook.com/kuma.kinsey">
						<img src="/images/willy_r.png" />
					</a><br />
					<span class="name">Willy Y. Wirawan</span><br />
					<span class="role">Technologist</span><br />
				</p>
				
				<p class="profile">
					<a href="http://www.linkedin.com/in/titobatubara">
						<img src="/images/tito_r.png" />
					</a><br />
					<span class="name">Tito H. Batubara</span><br />
					<span class="role">Economist Wanna be</span><br />
				</p>
				
				<p class="profile">
					<a href="http://www.facebook.com/umareta">
						<img src="/images/dani_r.png" />
					</a><br />
					<span class="name">Danny Widodo</span><br />
					<span class="role">Videoman</span><br />
				</p>
				
		</div>
	</div>
	
	
	
	<% if RAILS_ENV != "development" %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6428879-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
</body>