<body id="home">
	<div id="mainContainer" class="clearfix">
		<div id="header" class="clearfix">
			<div id="logo-wrapper">
				<a href="http://merapidonation.com">
					<img src="/images/logo.png" alt="Merapi Donation"/>
				</a>
			</div>
			
			<%= render :partial => "navigation" %>
			
			
		
			<a href="#" id="click">
			</a>
		</div>
		
		<div id="content" class="clearfix">
			<div class="info" id="keychain">
				<a href="#">
					<img src="/images/keychain.png" />
				</a>
			</div>
			
			<div id="action" class="info">
				<!-- <img src="/images/donate_button.png" alt="Donate Now!" /><br /> -->
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="QXHA5WRXM69M2">

					<input type="hidden" name="on0" value="Donation Amount">

					<input type="image" src="http://www.merapidonation.com/images/donate_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
					<img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
				</form>
				
				
				<span>30</span>
				<img src="/images/has_donated_text.png" alt="number of people that has donated to Merapi victims" 
				style="margin-left: -10px; margin-top:12px;" />
				
				<br />
				<a name="fb_share"></a> 
				<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
				        type="text/javascript">
				</script>
			</div>
			
			
			

		</div>
	</div>
	
	
	
	<% if RAILS_ENV != "development" %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6428879-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
</body>