<html>
<head>
	<title>Merapi Donation</title>
</head>

<body id="home">
	<div id="header" class="clearfix">
		<ul id="mainNav">
			<li>
				<%= link_to "home", root_path %>
			</li>
			
			<li>
				<%= link_to "about", root_path %>		
			</li>
			
			<li>
				<%= link_to "how", root_path %>
			</li>
			
			<li>
				<%= link_to "blog", root_path %>
			</li>
			
		</ul>
	</div>
	
	<div id="content" class="clearfix">
		
	</div>
	
</body>
</html>