<html>
<head>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Merapi Donation | a Life Saving Gift</title>
	<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /> 
	<link href="/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" /> 
</head>

<body id="home">
	<div id="mainContainer" class="clearfix">
		<div id="header" class="clearfix">
			<ul id="mainNav">
				<li>
					<%= link_to "donate", root_path, :class=>"home" %>
				</li>

				<li>
					<%= link_to "about", root_path, :class=>"about" %>		
				</li>

				<li>
					<%= link_to "how", root_path , :class=>"widget"%>
				</li>

				<li>
					<%= link_to "more info", root_path, :class=>"blog" %>
				</li>
				
			</ul>
		</div>

		<div id="content" class="clearfix">

		</div>
	</div>
	
	
	
	<% if RAILS_ENV != "development" %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6428879-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
</body>
</html>