<html>
<head>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Merapi Donation</title>
	<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /> 
</head>

<body id="home">
	<div id="header" class="clearfix">
		<ul id="mainNav">
			<li>
				<%= link_to "home", root_path %>
			</li>
			
			<li>
				<%= link_to "about", root_path %>		
			</li>
			
			<li>
				<%= link_to "how", root_path %>
			</li>
			
			<li>
				<%= link_to "blog", root_path %>
			</li>
			
		</ul>
	</div>
	
	<div id="content" class="clearfix">
		
	</div>
	
</body>
</html>