<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Merapi Donation | a Life Saving Gift</title>
	<link href="http://photos-e.ak.fbcdn.net/photos-ak-snc1/v27562/101/144771598873289/app_2_144771598873289_3226.gif" rel="shortcut icon" />
	
	<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /> 
	<link href="/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
	
	<link rel="stylesheet" href="/stylesheets/fancybox/jquery.fancybox-1.3.3.css" type="text/css" media="screen" />
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

	<script type="text/javascript" src="/javascripts/jquery.fancybox-1.3.3.pack.js"></script>
	
	<script type="text/javascript" src="/javascripts/application.js"></script>
	
</head>

<body id="home">
	<div id="mainContainer" class="clearfix">
		<div id="header" class="clearfix">
			<div id="logo-wrapper">
				<a href="http://merapidonation.com">
					<img src="/images/logo.png" alt="Merapi Donation"/>
				</a>
			</div>
			<ul id="mainNav">
				<li>
					<%= link_to "donate", root_path, :class=>"home" %>
				</li>

				<li>
					<%= link_to "about", root_path, :class=>"about" %>		
				</li>

				<li>
					<%= link_to "how", root_path , :class=>"widget"%>
				</li>

				<li>
					<%= link_to "gallery", root_path, :class=>"blog" %>
				</li>
				
			</ul>
		
			<a href="#" id="click">
			</a>
		</div>
		
		<div id="content" class="clearfix">
			<div class="info">
				<a href="http://google.com">
					<img src="/images/keychain.png" />
				</a>
			</div>
			
			<div id="action" class="info">
				<img src="/images/donate_button.png" alt="Donate Now!" /><br />
				<span>30</span>
				<img src="/images/has_donated_text.png" alt="number of people that has donated to Merapi victims" 
				style="margin-left: -10px; margin-top:12px;" />
				
				<br />
				<a name="fb_share"></a> 
				<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
				        type="text/javascript">
				</script>
			</div>
			
			
			

		</div>
	</div>
	
	
	
	<% if RAILS_ENV != "development" %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6428879-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
</body>
</html>